<?php
if (!defined("_ECRIRE_INC_VERSION")) return;
include_spip('inc/presentation');
include_spip('gestion_autorisation');

include_spip('fonctions_gestion_filtre');

gros_titre("Fiche d'inscription");

// Pour les administrateurs, afficher l'icone de modification.
if (session_get('statut') == '0minirezo') {
    echo icone_inline(_T('gestion:retour'), generer_url_ecrire('fiche_inscription', 'id_contact='._request('id_contact').'&id_activity='._request('id_activity')), find_in_path('img/gestion-24.png'), 'rien.gif', 'left');
}
?>

#FORMULAIRE_EDITER_FICHE{#ENV{id_contact}, #ENV{id_activity}}