<?php 
include_spip('inc/presentation');
include_spip('gestion_autorisation');

gros_titre('Ajouter une action');

echo icone_inline(_T('gestion:retour'), generer_url_ecrire('gestion_activite_exec'), find_in_path('img/gestion-24.png'), 'rien.gif', 'left');
?>

[(#REM) 
	Affiche le formulaire de création d'article.
	Une fois l'article créer 
]

[(#SESSION{statut}|=={0minirezo}|oui)
    #FORMULAIRE_EDITER_ARTICLE{
							#ENV{new}, 
							#ENV{id_rubrique}, 
							#URL_ECRIRE{articles, &id_activity=#ENV{id_aticle}}
]