<?php
if (!defined("_ECRIRE_INC_VERSION")) return;

include_spip('data2Excel');

 $data = array(
    array("firstname" => "Mary", "lastname" => "Johnson", "age" => 25),
    array("firstname" => "Amanda", "lastname" => "Miller", "age" => 18),
    array("firstname" => "James", "lastname" => "Brown", "age" => 31),
    array("firstname" => "Patricia", "lastname" => "Williams", "age" => 7),
    array("firstname" => "Michael", "lastname" => "Davis", "age" => 43),
    array("firstname" => "Sarah", "lastname" => "Miller", "age" => 24),
    array("firstname" => "Patrick", "lastname" => "Miller", "age" => 27)
  );

try {
	$toExcel = new data2Excel($data, 'test', sous_repertoire(_DIR_IMG, 'xls'));
	echo '<a href="'.$toExcel->sendFile().'">Download</a>';
} catch (Exception $e) {
	echo $e->getMessage();
}
?>