<?php 
if (!defined("_ECRIRE_INC_VERSION")) return;
include_spip('inc/presentation');

include_spip('gestion_autorisation');

gros_titre('<:gestion:recherche:>: '._request('recherche_inscrit'));

echo icone_inline(_T('gestion:retour'), generer_url_ecrire('gestion_inscrit_exec'), 'auteur-24.gif', 'rien.gif', 'right');
// Possibilité d'ajouter une nouvelle activité.
echo icone_inline(_T('gestion:nouveau_inscrit'), generer_url_ecrire("editer_inscrit_exec","new=oui"), "auteur-24.gif","creer.gif", 'right');

?>

<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $("#recherche").keypress(function(event) {
            setTimeout(function () {
                var value = $("#recherche").val();
                $.getJSON('?exec=auteur_json', {search: value}).done(function (json) {
                    $("#recherche").autocomplete({
                        source: json
                    });
                }).fail(function (jqxhr, textStatus, error) {
                    console.log(error);
                });
            }, 50);
        });
    });
</script>

<form action="#" method="get">
	<fieldset>
		<input type="text" placeholder="<:gestion:rechercher:>" name="recherche_inscrit" id="recherche" value="#ENV{recherche_inscrit}" />
		<input type="hidden" name="exec" value="gestion_inscrit_recherche_exec">
		<input type="submit" value=">>" />
	</fieldset>
</form>
<div class="nettoyeur"></div>

<?php echo debut_cadre_relief() ?>

<INCLURE{fond=prive/gestion_inscrit/recherche_inscrit}{env}{ajax}>

<?php echo fin_cadre_relief(); ?>
