<?php 
include_spip('inc/presentation');
include_spip('gestion_autorisation');
?>

<?php
// On récupère la variable PDF pour déterminer si on est dans un PDF ou non
$pdf = '#ENV{pdf}';
// Si on est pas dans un PDF, on affiche le bouton pour télécharger le PDF
if ($pdf != 1) {
    echo icone_inline(_T('gestion:telecharger_pdf'), generer_url_ecrire('gestion_dompdf_exec','id_activity=#id_activity&modele=liste_payement'), 'doc-24.gif', '', 'right');

    echo icone_inline(_T('gestion:retour'), generer_url_ecrire('gestion_activite_exec'), find_in_path('img/gestion-24.png'), '', 'left');
}
?>
<div class="nettoyeur"></div>

<BOUCLE_afficher_titre(ARTICLES){id_activity}>
    <?php gros_titre('<:gestion:liste_payement:> [<h2>(#TITRE|supprimer_numero)</h2>]'); ?>
</BOUCLE_afficher_titre>

<B_listing_payement>
<table>
    <tr>
        <th></th>
        <th><:gestion:nom:></th>
        <th><:gestion:liste_payement:></th>
        <th><:gestion:extrait_compte:></th>
        <th><:gestion:solde:></th>
    </tr>
    <BOUCLE_listing_payement(auteurs_articles articles auteurs){id_activity}{inscrit=Y}{par nom}{statutsuivi!=E}>
    
    [(#REM) On séléctionne le type de prix de la personne ]
    [(#TYPEPART|=={S}|oui) #SET{prix_a_paye, #PRIX} ]
    [(#TYPEPART|=={I}|oui) #SET{prix_a_paye, #PRIX_ORGANISME} ]
    [(#DEMANDEUR_EMPLOI|=={oui}|oui) #SET{prix_a_paye, #PRIX_ETUDIANT}]
    [(#PRIX_SPECIAL|oui|ou{#PRIX_SPECIAL|=={0}}) #SET{prix_a_paye, #PRIX_SPECIAL} ]

    [(#REM) Calcule du solde ]
    #SET{solde, (#GET{prix_a_paye}|moins{#HISTORIQUE_PAYEMENT|calculer_payement})}
    
    <tr class="valigntop">
        <td>[(#CODECOURTOISIE|code_courtoisie)]</td>
        <td>#NOM #PRENOM</td>
        <td>[(#HISTORIQUE_PAYEMENT|explode_payement{€})]</td>
        <td>[(#EXTRAIT_DE_COMPTE|explode_payement)]</td>
        <td>[(#GET{solde})]</td>
    </tr>
    </BOUCLE_listing_payement>
</table>
</B_listing_payement>
<//B_listing_payement>
