/* dompdf.css v0.1 by djphil (CC-BY-NC-SA 4.0) */

/* header {} */
/* footer {} */
/* main {} */

/* @page {margin: 220px 1in 1in 1in;} */

@page {margin: 100px 25px;}

header {
    position: fixed;
    top: 60px;
    left: 0px;
    right: 0px;
    height: 50px;

    /** Extra styles **/
    background-color: #03a9f4;
    color: white;
    text-align: center;
    line-height: 35px;
}

footer {
    position: fixed; 
    bottom: -60pxpx; 
    left: 0px; 
    right: 0px;
    height: 50px; 

    /** Extra styles **/
    background-color: #03a9f4;
    color: white;
    text-align: center;
    line-height: 35px;
}

/* main {font-size: 200px !important;} */
/* h1 {font-size: 200px !important;} */

table {width:100%; border-collapse: collapse;} 
td {border: 1px solid #EEE; padding: 10px 5px;}